# pharmacity-backend/.env

# factory.db fayli joylashgan yo'l (bot papkasiga nisbatan)
DB_PATH=../pharmacy_bot/factory.db

# CORS — frontend URL (production da to'g'irlang)
FRONTEND_URL=http://localhost:5173

# Server
HOST=0.0.0.0
PORT=8000
